<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Robert Currie</h2>
    <br />
    <p>
      Splurty was built by <a target="_blank" href="http://github.com/R-Currie">Robert Currie</a> A web developer on a mission to become the GOAT.
    </p>
    <br />
    <p>
      He graduated from the University of Illinois Urbana-Champaign and decided economics was not for him.
    </p>
  </div>
</div>